body {
  background-color: #0f0f0f;
  transition: background-color 1000ms linear;
}
body .loader svg {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
body .loader h1, body .loader h4 {
  color: #ffffff;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.zCwpRRCr_0{
  stroke-dasharray:1895 1897;
  stroke-dashoffset:1896;
  animation:zCwpRRCr_draw 2666ms ease-in-out 0ms forwards;
}
.zCwpRRCr_1{
  stroke-dasharray:1685 1687;
  stroke-dashoffset:1686;
  animation:zCwpRRCr_draw 2666ms ease-in-out 5000ms forwards;
}
.zCwpRRCr_2{
  stroke-dasharray:792 794;
  stroke-dashoffset:793;
  animation:zCwpRRCr_draw 2666ms ease-in-out 266ms forwards;
}
.zCwpRRCr_3{
  stroke-dasharray:618 620;
  stroke-dashoffset:619;
  animation:zCwpRRCr_draw 2666ms ease-in-out 399ms forwards;
}
.zCwpRRCr_4{
  stroke-dasharray:501 503;
  stroke-dashoffset:502;
  animation:zCwpRRCr_draw 2666ms ease-in-out 533ms forwards;
}
.zCwpRRCr_5 {
  stroke-dasharray:0 2;
  stroke-dashoffset:1;
  animation:zCwpRRCr_draw 2666ms ease-in-out 666ms forwards;
}
.zCwpRRCr_6{
  stroke-dasharray:0 2;
  stroke-dashoffset:1;
  animation:zCwpRRCr_draw 2666ms ease-in-out 799ms forwards;
}
.zCwpRRCr_7{
  stroke-dasharray:0 2;
  stroke-dashoffset:1;
  animation:zCwpRRCr_draw 2666ms ease-in-out 933ms forwards;
}
.zCwpRRCr_8{
  stroke-dasharray:771 773;
  stroke-dashoffset:772;
  animation:zCwpRRCr_draw 2666ms ease-in-out 1066ms forwards;
}
.zCwpRRCr_9{
  stroke-dasharray:986 988;
  stroke-dashoffset:987;
  animation:zCwpRRCr_draw 2666ms ease-in-out 1199ms forwards;
}
.zCwpRRCr_10{
  stroke-dasharray:0 2;
  stroke-dashoffset:1;
  animation:zCwpRRCr_draw 2666ms ease-in-out 1333ms forwards;
}
@keyframes zCwpRRCr_draw{
  100%{
    stroke-dashoffset:0;
  }
}
@keyframes zCwpRRCr_fade{
  0%{
    stroke-opacity:1;
  }
  95.1219512195122%{
    stroke-opacity:1;
  }
  100%{
    stroke-opacity:0;
  }
}

